<h4>Show Post!</h4>
<p><%= link_to @post.title, @post.url %> </p>
<p> <%= pluralize(@post.comments.count, "Comment") %></p>

<ul>
	<% @post.comments.reload.each do |comment| %>
		<li>
			<%= comment.content %>		
		</li>
	<% end %>
</ul>

<h4>Submit a Comment!</h4>

<%= form_for [@post, @comment] do |f| %>
	<% if @comment.errors.any? %>
		<div class="alert alert-error">
			<%= @comment.errors.full_messages.join("").html_safe %>
		</div>
	<% end %>	
	<%= f.label :content, "CONTENT" %>
	<%= f.text_area :content, rows: 5 %>	
	<br/>
	<%= f.submit "Submit Your Comment!" %>
<% end %>	


<%= link_to "Home", root_path %>
